<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signup form</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-container">
    <h1>signup form</h1>
    <div th:if="${error}" style="color: red;" th:text="${error}"></div>
    <div th:if="${success}" style="color: green;" th:text="${success}"></div>
    <form th:action="@{/signup}" method="post" class="form">
        <label><input type="text" name="username" placeholder="User Name"></label>
        <label><input type="email" name="email" placeholder="Email"></label>
        <label><input type="password" name="password" placeholder="Password"></label>
<!--        <label>confirm-->
<!--         password   <input type="password" name="password" placeholder="confirm password"></label>-->
        <button type="submit">signup</button>
        <a class="signup-link" th:href="@{/login}">Back to login form</a>
    </form>
</div>
</body>
</html>